body {
    font-family: Arial, sans-serif;
    background-color: #36031d;
  }
  h1, h2 {
    text-align: center;
    color: #fcfbfb;
    margin-top: 30px;
  }
  table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
    background-color: #fff;
  }
  
  table th, table td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  table th {
    background-color: #ddd;
    font-weight: bold;
  }
  
  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  input[type="number"] {
    width: 100px;
    padding: 8px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }